{% extends "index.html.twig" %}

{% block title %}Liste des Films{% endblock %}

{% block content %}

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>

<h1>Liste des Films</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Année</th>
            <th>Type</th>
            <th>Synopsis</th>
            <th>Réalisateur</th>
            <th>Date de création</th>
            <th>Date de mise à jour</th>
        </tr>
    </thead>
    <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.year }}</td>
                <td>{{ film.type }}</td>
                <td>{{ film.synopsis }}</td>
                <td>{{ film.director }}</td>
                <td>{{ film.created_at|date('d/m/Y') }}</td>
                <td>
                    {% if film.updated_at is not null %}
                        {{ film.updated_at|date('d/m/Y') }}
                    {% else %}
                        Non mis à jour
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
